*{
    box-sizing: border-box;
    margin:0;
    padding:0;
   
}
body{
   max-width: 100%;
   height:100vh;

    background-image: url(./ambitious-studio-rick-barrett-w7jYaN7GqyA-unsplash.jpg)  ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

}
 #nav{
    background: linear-gradient(to bottom, #161a27fa, #70a172); /* From green to light green */
    padding: 10px 20px;
  height: 90px;
  
  
}
#nav-element{
    margin:10px;
    padding: 10px 30px;
    font-size: 2rem;
    font-weight: stronger;
    color:#75c9ce ;
   /** background-color:#78A083 ; **/

}